html, body {
  background-color: #000;
  color: #fff;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.App-header {
  grid-column-start: 1;
  grid-column-end: 4;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 50px auto;
}

::-moz-selection { 
  background: #fff;
  color: #000;
}
::selection { 
  background: #fff;
  color: #000;
}